{% extends 'base.html' %}

{% block content %}
    <h1>Novo Produto</h1>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Salvar">
    </form>
{% endblock content %}