{% extends 'base.html' %}

{% block content %}

    <h1>Editar Produto</h1>
    <form action="" method="POST">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Atulizar">

    </form>

{% endblock content %}