{% extends 'base.html' %}

{% block content %}

    <div>
        <h2>{{ produto.codigo }}</h2>
        <h3>{{ produto.nome }}</h3>
        <p>{{ produto.preco }}</p>
    </div>

    <a href="{% url 'produto_edit' produto.pk %}">+ Editar Produto</a>
{% endblock content %}